:root {
	--md-ref-typeface-brand: "Open Sans";
	--md-ref-typeface-plain: system-ui;

	// Display
	--md-sys-typescale-display-medium-font: var(--md-ref-typeface-brand);
	--md-sys-typescale-display-medium-weight: 400;
	--md-sys-typescale-display-medium-size: 2.8125rem;
	--md-sys-typescale-display-medium-line-height: 52px;

	// Headline
	--md-sys-typescale-headline-medium-font: var(--md-ref-typeface-brand);
	--md-sys-typescale-headline-medium-weight: 400;
	--md-sys-typescale-headline-medium-size: 1.75rem;
	--md-sys-typescale-headline-medium-line-height: 36px;

	// Title
	--md-sys-typescale-title-medium-font: var(--md-ref-typeface-brand);
	--md-sys-typescale-title-medium-weight: 500;
	--md-sys-typescale-title-medium-size: 1rem;
	--md-sys-typescale-title-medium-line-height: 24px;

	// Body
	--md-sys-typescale-body-medium-font: var(--md-ref-typeface-brand);
	--md-sys-typescale-body-medium-weight: 400;
	--md-sys-typescale-body-medium-size: 0.875rem;
	--md-sys-typescale-body-medium-line-height: 20px;

	// Label
	--md-sys-typescale-label-medium-font: var(--md-ref-typeface-brand);
	--md-sys-typescale-label-medium-weight: 500;
	--md-sys-typescale-label-medium-size: 0.75rem;
	--md-sys-typescale-label-medium-line-height: 16px;
}

body.theme-light {
	--md-sys-color-primary: hsl(50, 100%, 22%);
	--md-sys-color-on-primary: hsla(0, 0%, 100%, 1);
	--md-sys-color-primary-container: #ffe172;
	--md-sys-color-on-primary-container: #221b00;
	--md-sys-color-secondary: #675e40;
	--md-sys-color-on-secondary: #ffffff;
	--md-sys-color-secondary-container: #efe2bc;
	--md-sys-color-on-secondary-container: #211b04;
	--md-sys-color-info: hsla(209, 100%, 35.5%, 1);
	--md-sys-color-on-info: hsla(0, 0%, 100%, 1);
	--md-sys-color-info-container: hsla(221, 100%, 92%, 1);
	--md-sys-color-on-info-container: hsla(213, 100%, 12%, 1);
	--md-sys-color-success: hsla(150, 100%, 21.4%, 1);
	--md-sys-color-on-success: hsla(0, 0%, 100%, 1);
	--md-sys-color-success-container: hsla(141, 100%, 69%, 1);
	--md-sys-color-on-success-container: hsla(142, 100%, 6.5%, 1);
	--md-sys-color-warning: hsla(40, 100%, 25.1%, 1);
	--md-sys-color-on-warning: hsla(0, 0%, 100%, 1);
	--md-sys-color-warning-container: hsla(34, 100%, 84.5%, 1);
	--md-sys-color-on-warning-container: hsla(35, 100%, 8%, 1);
	--md-sys-color-error: hsl(359, 100%, 38%);
	--md-sys-color-on-error: hsla(0, 0%, 100%, 1);
	--md-sys-color-error-container: hsla(7, 100%, 91.8%, 1);
	--md-sys-color-on-error-container: hsla(0, 100%, 12.7%, 1);
	--md-sys-color-surface: hsla(300, 55.6%, 98.2%, 1);
	--md-sys-color-on-surface: hsla(255, 7%, 11%, 1);
	--md-sys-color-surface-variant: hsla(270, 24%, 90.2%, 1);
	--md-sys-color-on-surface-variant: hsla(260, 6.1%, 28.8%, 1);
	--md-sys-color-surface-dim: hsla(300, 5.6%, 85.9%, 1);
	--md-sys-color-surface-bright: hsla(300, 55.6%, 98.2%, 1);
	--md-sys-color-surface-container-highest: hsla(288, 9.1%, 89.2%, 1);
	--md-sys-color-surface-container-high: hsla(288, 11.6%, 91.6%, 1);
	--md-sys-color-surface-container: hsla(300, 15.2%, 93.5%, 1);
	--md-sys-color-surface-container-low: hsla(300, 23.8%, 95.9%, 1);
	--md-sys-color-surface-container-lowest: hsla(0, 0%, 100%, 1);
	--md-sys-color-outline: hsla(264, 4.1%, 47.8%, 1);
	--md-sys-color-outline-variant: hsla(265, 11.3%, 79.2%, 1);
	--md-sys-color-background: hsla(300, 100%, 99.2%, 1);
	--md-sys-color-on-background: hsla(255, 6.9%, 11.4%, 1);
	--md-sys-color-inverse-surface: hsla(260, 3%, 19.4%, 1);
	--md-sys-color-inverse-on-surface: hsla(300, 18.5%, 94.7%, 1);
	--md-sys-color-inverse-primary: hsla(252, 100%, 87.3%, 1);
	--md-sys-color-surface-tint: hsla(257, 97.2%, 57.3%, 1);
	--md-sys-color-shadow: hsla(0, 0%, 0%, 1);
	--md-sys-color-scrim: hsla(0, 0%, 0%, 1);
}

body.theme-dark {
	--md-sys-color-primary: #e4c54a;
	--md-sys-color-on-primary: #3b2f00;
	--md-sys-color-primary-container: #554600;
	--md-sys-color-on-primary-container: #ffe172;
	--md-sys-color-secondary: #d2c6a1;
	--md-sys-color-on-secondary: #373016;
	--md-sys-color-secondary-container: #4f462a;
	--md-sys-color-on-secondary-container: #efe2bc;
	--md-sys-color-info: hsla(218, 100%, 82.9%, 1);
	--md-sys-color-on-info: hsla(211, 100%, 19.2%, 1);
	--md-sys-color-info-container: hsla(210, 100%, 27.3%, 1);
	--md-sys-color-on-info-container: hsla(221, 100%, 92%, 1);
	--md-sys-color-success: hsla(151, 100%, 44.7%, 1);
	--md-sys-color-on-success: hsla(146, 100%, 11.2%, 1);
	--md-sys-color-success-container: hsla(149, 100%, 16.1%, 1);
	--md-sys-color-on-success-container: hsla(141, 100%, 69%, 1);
	--md-sys-color-warning: hsla(37, 100%, 64.1%, 1);
	--md-sys-color-on-warning: hsla(38, 100%, 13.3%, 1);
	--md-sys-color-warning-container: hsla(40, 100%, 19%, 1);
	--md-sys-color-on-warning-container: hsla(34, 100%, 84.5%, 1);
	--md-sys-color-error: hsla(8, 100%, 83.1%, 1);
	--md-sys-color-on-error: hsla(359, 100%, 20.6%, 1);
	--md-sys-color-error-container: hsla(359, 100%, 28.8%, 1);
	--md-sys-color-on-error-container: hsla(7, 100%, 91.8%, 1);
	--md-sys-color-surface: hsla(260, 7.3%, 8%, 1);
	--md-sys-color-on-surface: hsla(288, 9.1%, 89.2%, 1);
	--md-sys-color-surface-variant: hsla(260, 6.1%, 28.8%, 1);
	--md-sys-color-on-surface-variant: hsla(265, 11.3%, 79.2%, 1);
	--md-sys-color-surface-dim: hsla(260, 7.3%, 8%, 1);
	--md-sys-color-surface-bright: hsla(270, 3.4%, 22.7%, 1);
	--md-sys-color-surface-container-highest: hsla(270, 3.7%, 21.2%, 1);
	--md-sys-color-surface-container-high: hsla(270, 4.7%, 16.9%, 1);
	--md-sys-color-surface-container: hsla(255, 6.1%, 12.9%, 1);
	--md-sys-color-surface-container-low: hsla(255, 6.9%, 11.4%, 1);
	--md-sys-color-surface-container-lowest: hsla(240, 9.7%, 6.1%, 1);
	--md-sys-color-outline: hsla(264, 4.7%, 58%, 1);
	--md-sys-color-outline-variant: hsla(260, 6.1%, 28.8%, 1);
	--md-sys-color-background: hsla(255, 6.9%, 11.4%, 1);
	--md-sys-color-on-background: hsla(288, 9.1%, 89.2%, 1);
	--md-sys-color-inverse-surface: hsla(288, 9.1%, 89.2%, 1);
	--md-sys-color-inverse-on-surface: hsla(255, 6.9%, 11.4%, 1);
	--md-sys-color-inverse-primary: hsla(257, 97.2%, 57.3%, 1);
	--md-sys-color-surface-tint: hsla(252, 100%, 87.3%, 1);
	--md-sys-color-shadow: hsla(0, 0%, 0%, 1);
	--md-sys-color-scrim: hsla(0, 0%, 0%, 1);
}
